@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

/* ========================================== BASE STYLES */
@layer base {
  @theme {
    /* :root {
      --font-sans: "Inter", system-ui, sans-serif;
    } */
    --color-testcolor: #ff00ff;

    --color-green-500: #24ae7c;
    --color-green-600: #0d2a1f;

    --color-blue-500: #79b5ec;
    --color-blue-600: #152432;

    --color-red-500: #f37877;
    --color-red-600: #3e1716;
    --color-red-700: #f24e43;

    --color-light-200: #e8e9e9;

    --color-dark-200: #0d0f10;
    --color-dark-300: #131619;
    --color-dark-400: #1a1d21;
    --color-dark-500: #363a3d;
    --color-dark-600: #76828d;
    --color-dark-700: #abb8c4;

    --background-image-appointments: url("/assets/images/appointments-bg.png");
    --background-image-pending: url("/assets/images/pending-bg.png");
    --background-image-cancelled: url("/assets/images/cancelled-bg.png");

    --animate-accordion-down: accordion-down 0.2s ease-out;
    --animate-accordion-up: accordion-up 0.2s ease-out;
    --animate-caret-blink: caret-blink 1.25s ease-out infinite;
  }
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}
/* Remove scrollbar *
/* Define the utility class itself */
@utility remove-scrollbar {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}

/* Then use plain CSS for the pseudo-element */
.remove-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}

/* ========================================== UTILITIES */

/* Sidebar */
@utility sidebar {
  @apply remove-scrollbar w-full max-w-[18rem] flex-col overflow-auto bg-black px-7 py-10;
}

/* Left / Right sidebars */
@utility left-sidebar {
  @apply hidden lg:flex;
}
@utility right-sidebar {
  @apply hidden xl:flex;
}

/* Text clipping */
@utility clip-text {
  @apply bg-clip-text text-transparent;
}

/* Background image */
@utility bg-image {
  @apply bg-black bg-cover bg-no-repeat;
}

/* Headers */
@utility header {
  @apply text-[32px] leading-9 font-bold md:text-[36px] md:leading-10;
}
@utility sub-header {
  @apply text-[18px] leading-6 font-bold md:text-[24px] md:leading-7;
}

/* Containers */
@utility container {
  @apply relative flex-1 overflow-y-auto px-[5%];
}
@utility sub-container {
  @apply mx-auto flex size-full flex-col py-10;
}

/* Images */
@utility side-img {
  @apply hidden h-full object-cover md:block;
}

/* Copyright */
@utility copyright {
  @apply text-[14px] leading-[18px] font-normal justify-items-end text-center text-neutral-500 xl:text-left;
}

/* Success */
@utility success-img {
  @apply m-auto flex flex-1 flex-col items-center justify-between gap-10 py-10;
}
@utility request-details {
  @apply flex w-full flex-col items-center gap-8 border-y-2 border-neutral-700 py-8 md:w-fit md:flex-row;
}

/* Admin */
@utility admin-header {
  @apply sticky top-3 z-20 mx-3 flex items-center justify-between rounded-2xl bg-neutral-800 px-[5%] py-5 shadow-lg xl:px-12;
}
@utility admin-main {
  @apply flex flex-col items-center space-y-6 px-[5%] pb-12 xl:space-y-12 xl:px-12;
}
@utility admin-stat {
  @apply flex w-full flex-col justify-between gap-5 sm:flex-row xl:gap-10;
}

/* Form */
@utility radio-group {
  @apply flex h-full flex-1 items-center gap-2 rounded-md border border-dashed border-neutral-600 bg-neutral-700 p-3;
}
@utility checkbox-label {
  @apply cursor-pointer text-sm font-medium text-neutral-400 peer-disabled:cursor-not-allowed peer-disabled:opacity-70 md:leading-none;
}

/* File Upload */
@utility file-upload {
  @apply text-[12px] leading-[16px] flex cursor-pointer flex-col items-center justify-center gap-3 rounded-md border border-dashed border-neutral-600 bg-neutral-700 p-5;
}
@utility file-upload_label {
  @apply flex flex-col justify-center gap-2 text-center text-neutral-500;
}

/* Stat Card */
@utility stat-card {
  @apply flex flex-1 flex-col gap-6 rounded-2xl bg-cover p-6 shadow-lg;
}

/* Status Badge */
@utility status-badge {
  @apply flex w-fit items-center gap-2 rounded-full px-4 py-2;
}

/* Data Table */
@utility data-table {
  @apply z-10 w-full overflow-hidden rounded-lg border border-neutral-600 shadow-lg;
}
@utility table-actions {
  @apply flex w-full items-center justify-between space-x-2 p-4;
}

/* Alignments */
@utility flex-center {
  @apply flex items-center justify-center;
}
@utility flex-between {
  @apply flex items-center justify-between;
}

/* Typography */
@utility text-36-bold {
  @apply text-[36px] leading-[40px] font-bold;
}
@utility text-24-bold {
  @apply text-[24px] leading-[28px] font-bold;
}
@utility text-32-bold {
  @apply text-[32px] leading-[36px] font-bold;
}
@utility text-18-bold {
  @apply text-[18px] leading-[24px] font-bold;
}
@utility text-16-semibold {
  @apply text-[16px] leading-[20px] font-semibold;
}
@utility text-16-regular {
  @apply text-[16px] leading-[20px] font-normal;
}
@utility text-14-medium {
  @apply text-[14px] leading-[18px] font-medium;
}
@utility text-14-regular {
  @apply text-[14px] leading-[18px] font-normal;
}
@utility text-12-regular {
  @apply text-[12px] leading-[16px] font-normal;
}
@utility text-12-semibold {
  @apply text-[12px] leading-[16px] font-semibold;
}

/* SHADCN Overrides */
@utility shad-primary-btn {
  @apply bg-green-500 text-white;
}
@utility shad-danger-btn {
  @apply bg-red-700 text-white;
}
@utility shad-gray-btn {
  @apply border border-neutral-600 cursor-pointer bg-neutral-700 text-white;
}
@utility shad-input-label {
  @apply text-[14px] leading-[18px] font-medium text-neutral-400;
}
@utility shad-input {
  @apply bg-neutral-700 placeholder:text-neutral-500 border-neutral-600 h-11;
}
@utility shad-input-icon {
  @apply bg-neutral-700 placeholder:text-neutral-500 border-neutral-600 h-11;
}
@utility shad-textArea {
  @apply bg-neutral-700 placeholder:text-neutral-500 border-neutral-600;
}
@utility shad-combobox-item {
  @apply data-[disabled=true]:pointer-events-none data-[disabled=true]:opacity-50;
}
@utility shad-combobox-trigger {
  @apply h-11;
}
@utility shad-select-trigger {
  @apply bg-neutral-700 placeholder:text-neutral-500 border-neutral-600 h-11;
}
@utility shad-select-content {
  @apply bg-neutral-700 border-neutral-600;
}
@utility shad-dialog {
  @apply bg-neutral-700 border-neutral-600;
}
@utility shad-error {
  @apply text-red-400;
}
@utility shad-table {
  @apply rounded-lg overflow-hidden;
}
@utility shad-table-row-header {
  @apply border-b border-neutral-600 text-neutral-200 hover:bg-transparent;
}
@utility shad-table-row {
  @apply border-b border-neutral-600 text-neutral-200;
}
@utility shad-otp {
  @apply w-full flex justify-between;
}
@utility shad-otp-slot {
  @apply text-[36px] leading-[40px] font-bold justify-center flex border border-neutral-600 rounded-lg size-16 gap-4;
}
@utility shad-alert-dialog {
  @apply space-y-5 bg-neutral-700 border-neutral-600 outline-none;
}

/* Phone Input */
@utility input-phone {
  @apply mt-2 h-11 rounded-md px-3 text-sm border bg-neutral-700 placeholder:text-neutral-500 border-neutral-600;
}

/* Date Picker */
@utility date-picker {
  @apply overflow-hidden border-transparent w-full placeholder:text-neutral-500 h-11 text-[14px] leading-[18px] font-medium rounded-md px-3 outline-none;
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.424 0.199 265.638);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.424 0.199 265.638);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@theme inline {
  --font-sans: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}